@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root{
    --font-ubuntu : 'Ubuntu',monospace;
    --color-border: #e5e5e5;
}

*{
    box-sizing: border-box;
}
body{
    /* background-color: tomato; */
    
    /* background-image: url(./local/site-background.jpg); */
    /* background-image: linear-gradient(purple, yellow, blue); */
    background-image: linear-gradient(purple, DodgerBlue, navy);
    
}

/* NAVBAR  */
.navbar{
    /* background-color:linear-gradient(purple, DodgerBlue, navy) !important; */
    background-color:rgba(0,0,0,0.5);
}

.nav-item{
    border-right: 3px solid #f0ad4e;
}
.nav-item:hover a{
    /* background-color: maroon; */
    color: maroon !important;
    transform: scale(1.1,1.1);
    text-decoration:none;
}

/* END OF NAVBAR */

.list{
    display: flex;
    flex-wrap: wrap;
    
    background-color:DodgerBlue !important;
}



.list > div {
    float:left;
    width:450px;
    height:450px;
    background-color: #f1f1f1;
    
    margin: 10px;
    /* text-align: center; */
    /* line-height: 75px; */
    /* font-size: 30px; */
  }


/* HERE COMES THE NEW CAROUSEL STYLEZ */

.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius:10px;
    overflow: hidden;
    margin: 25px;
    /* position: absolute;
    left: 50%;
    right:50%;
    transform: translate(-50%,-50%); */
}

.slide-img{
     height: 450px;
     position: relative;
}

.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    /* object fit cover keeps the aspect ratio of the image, but cut off the edged */
    box-sizing: border-box;
}

.detail-box{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#ffbb33;
}

.type{
    display:flex;
    flex-direction: column;
}

.type a{
    color:#222222;
    margin:5px 0px;
    font-weight:700;
    letter-spacing: 0.5px;
    padding-right:8px;
}

.type a{
    color:rgba(26,26,26,0.5);
}

.price{
    color:#333;
    font-weight: 600;
    font-size: 1.1rem; 
    /* rem is relative to the root element */
    font-family: poppins;
    letter-spacing: 0.5px;    
}

.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(92, 95, 236, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.buy-btn{
    width: 200px;
    height: 60px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color:#252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);    
}

.buy-btn:hover{
    color:#FFF;
    background-color:#FF8800;
    transition: all ease 0.3s;
    text-decoration: none;
}

.slide-img:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.section{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.7);
}


/* From here there are the styles of the seats */
.seat_body{
    background-color: rgb(62, 66, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items:center;
    height:90vh;
    margin: 0;
}

.movie-container{
    margin:20px 0;    
}

.movie-container select{
    background: #fff;
    border:0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding:5px 15px;
}

.container{
    /* it is applied to 3d elements, to make it more ore less intensive */
    perspective: 1000px;
    margin-bottom:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.seat{
    background-color: tomato;
    /* height:12px;
    width:15px;
    margin:3px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    height:18px;
    width:22.5px;
    margin:4.5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.seat:nth-of-type(2){
    margin-right:15px;
}
.seat:nth-last-of-type(2){
    margin-left:15px;
}
.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover{
    cursor: default;
    transform: scale(1);
}

.showcase{
    background: rgba(0,0,0,0.15);
    padding:5px 10px;
    border-radius: 6px;
    color:#777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.seat.selected{
    background-color:#3FEEE6;
}
.seat.occupied{
    background-color:goldenrod;
}

.showcase li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.showcase li small{
    margin-left: 2px;
}

.row{
    display:flex;
}

.screen{
    
    background-color:#fff;
    height:105px;
    width:225px;
    margin:15px 0;
    transform: rotateX(-40deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
h3.text{
    margin:5px 0;
}
h3.text span{
    margin:5px 0;
    /* color: darkslategray; */
}

/* INPUT TYPE RANGE */
.slidecontainer{
    width:100%; /* Width of the outside container */    
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 46px;
    height: 48px;
    border: 0;
    background: url('./local/icons8-film-reel-64-black.png');
    /* background-color: #cccccc; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 46px;
    height: 48px;
    border: 0;
    background: url('./local/icons8-film-reel-64-black.png');
    /* background-color: #cccccc; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    cursor: pointer;
  }

  /* Styling of the cards in All Movies page */
  
  .tarolo{
      position: relative;
  }
  .kep{
      display: block;
      width:100%;
      height:auto;
  }

  .overlay2{
      position: absolute;
      top: 0;
        bottom: -10%;
        left: 0;
        right: 0;
        width:100%;
        height:100%;
        opacity:0;
        transition: .5s ease;
        background: #008CBA;
  }

  .tarolo:hover .overlay2{
      opacity:1;
  }

  .text{
      position: absolute;
      top:30%;
      text-align: center;
      font-size: 1rem;      
  }
  .book_button{
    position: absolute;   
      top:50%;
  }



  /* REGISTRATION AND LOGIN PART */

  .font-ubuntu{
    font: normal 500 16px var(--font-ubuntu);
}

#register, #login{
    padding: 5% 0;
    /* background: url("assets/profile/10e1a9e8-2474-4a56-bec7-1185198fecb4.png") no-repeat; */
    background: url("assets/FFz9DIQ_xtpxz52ZltQRrQ_store_banner_image.jpeg") no-repeat;
    background-size: cover;
    background-position: center;    
}

#login{
    padding: 8% 0;
}

#register .upload-profile-image{
    position: relative;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: filter .8s ease;
}

#register .upload-profile-image:hover{
    filter: drop-shadow(1px 1px 22px #7584bb);
}

#upload-profile{
    position:absolute;
    top: 0;
    z-index: 10;
    width: 200px;
    margin-top: 0px;
    /* visibility: hidden; */
    opacity: 0;
}

#upload-profile::-webkit-file-upload-button{ 
    visibility: hidden;
}
/* we want this element before our input  */
#upload-profile::before{
    content: '';
    display: inline-block;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 50%;
}

#register .upload-profile-image .camera-icon{
    position: absolute;
    top: 70px;
    width: 60px !important;
    filter: invert(30%) !important;
}

#register .upload-profile-image:hover .camera-icon{
    filter: invert(100%) !important;
}

#reg-form input[type='email'],
#reg-form input[type='password'],
#reg-form input[type='text']
#log-form input[type='email'],
#log-form input[type='password']{
    border: none;
    border-radius: unset;
    border-bottom: 1px solid var(--color-border);
    font-family: var(--font-ubuntu);
}

#reg-form input[type='email'],
#reg-form input[type='password'],
#reg-form input[type='text']{
    outline: none;
    box-shadow: none;
}

